# KUCOIN API KEYS
KC_KEY=YOUR_KUCOIN_KEY
KC_SECRET=YOUR_KUCOIN_SECRET
KC_PASSPHRASE=YOUR_KUCOIN_PASSPHRASE

# REDIS PASSWORD
REDIS_PASSWORD=                  # generate: openssl rand -base64 32

# DISCORD WEBHOOK
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL
DISCORD_ENABLED=false

# BOT MODE
BOT_MODE=sim # sim/live
